<div class="mt-16 px-12">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-3xl font-bold mb-2 text-blue-800">Event List</h1>
      <p class="text-lg text-blue-600">View and Sort your Events</p>
    </div>
    <div class="relative inline-flex bg-gray-200 rounded-full p-1 shadow-inner">
      <button
        class="px-4 py-1 rounded-full transition-all duration-200 text-sm font-medium"
        [ngClass]="{
          'bg-blue-600 text-white shadow': selectedDays === 30,
          'text-blue-800': selectedDays !== 30
        }"
        (click)="onFilterDays(30)">
        30 Days
      </button>
      <button
        class="px-4 py-1 rounded-full transition-all duration-200 text-sm font-medium"
        [ngClass]="{
          'bg-blue-600 text-white shadow': selectedDays === 60,
          'text-blue-800': selectedDays !== 60
        }"
        (click)="onFilterDays(60)">
        60 Days
      </button>
      <button
        class="px-4 py-1 rounded-full transition-all duration-200 text-sm font-medium"
        [ngClass]="{
          'bg-blue-600 text-white shadow': selectedDays === 180,
          'text-blue-800': selectedDays !== 90
        }"
        (click)="onFilterDays(180)">
        180 Days
      </button>
    </div>
  </div>

  <app-sortable-table [events]="events"></app-sortable-table>
  <div class="flex justify-center mt-4">
    <button (click)="prevPage()" [disabled]="page === 1" class="px-4 py-2 mx-1 bg-gray-200 rounded">Previous</button>
    <span class="px-4 py-2 mx-1">Page {{ page }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="page === totalPages" class="px-4 py-2 mx-1 bg-gray-200 rounded">Next</button>
  </div>
</div>
